/*==================
    Google Fonts
==================*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*================
    Global css
=================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --header-bg: rgba(255,144,10,0.10);
    --black: #131313;
    --light-black: #424242;
    --light-black2: #727272;
    --orange-light: #FF900E;
    --box-shadow: 0px 4px 30px rgba(0,0,0,0.06);
}
a{
    text-decoration: none;
}

/*=========================
    Header section start
==========================*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eae8dc;
    padding: 20px 0;
    z-index: 20;
    box-shadow: 0 6px 18px rgb(0 0 0 / 20%);
}
header .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
header .container .logo{
    font-weight: 700;
    font-size: 38px;
    color: var(--black);
}
.menu ul li{
   list-style: none;
   display: inline-block;
   margin-right: 40px;
}
.menu ul li:nth-child(5){
    margin-right: 0px;
}
.menu ul li a{
    font-weight: 500;
    font-size: 16px;
    color: var(--light-black);
}
.nav{
    display: none;
}

/*=========================
    Banner section start
==========================*/
.banner-section{
   padding: 120px 0 50px;
   background-color: var(--header-bg);
}
.banner-section .container{
    max-width: 1140px;
    margin: 0 auto;  
}
.banner-details{
    width: 850px;
    text-align: center;
    margin: 0 auto; 
}
.banner-details h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--black); 
}
.banner-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-black2);
    margin-top: 22px;
    margin-bottom: 40px;
}
.banner-details .btn-primary{
    padding: 16px 25px;
    color: #FFF;
    background: var(--orange-light);
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
}
.banner-img{
    margin-top: 70px;
}
.banner-img .images{
    width: 100%;
}

/*=========================
    Feature section start
==========================*/
.feature-section{
    padding: 85px 0;
}
.feature-section .container{
    max-width: 1100px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.feature-image{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.feature-image .img-123{
    width: 100%;
}
.feature-details{
    width: 50%;
}
.feature-details h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: var(--light-black2);  
    margin-bottom: 24px;
}
.feature-details .black-col{
    color: var(--black);
}
.feature-details .orange-col{
    color: var(--orange-light);
}
.feature-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-black2);
    margin-bottom: 44px;  
}
.feature-details .btn-primary2{
    padding: 16px 25px;
    color: #FFF;
    background: var(--orange-light);
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px; 
}

/*=========================
   service section start
==========================*/
.service-section{
     padding: 100px 0;
}
.service-section .container{
     max-width: 1140px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     gap: 100px;
}
.service-details{
    width: 48%;
}
.service-details h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black);
    border-left: 4px solid var(--orange-light);
    padding-left: 30px;
    margin-bottom: 20px;
}
.service-details p{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: var(--light-black2);
    margin-bottom: 25px;
}
.service-info{
    padding: 30px 42px 30px 30px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    margin-bottom: 20px; 
}
.service-info h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--black); 
    margin-bottom: 10px;   
}
.service-info p{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    color: var(--light-black2);
}

.service-img{
    width: 52%; 
}
.service-img .ser-img{
    width: 100%;
    height: 910px;
    object-fit: cover;
}
.button{
    position: relative;
    top: -8%;
    left: -10%;
    width: 220px;
    text-align: center;
    background: var(--orange-light);
    border-radius: 8px;
    padding: 34px 0;
}
.button h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #FFF;
}
.button p{
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
}

/*=========================
    Client section start
==========================*/
.client-section{
    padding: 50px 0 100px;
}
.client-section .container{
    max-width: 1140px;
    margin: 0 auto;    
}
.client-details{
   width: 560px;
   margin-bottom: 100px;
}
.client-details h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black);
    margin-bottom: 14px;
}
.client-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-black2);
}

.client-info{
    width: 1040px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.client-info .working-info{
    text-align: center;
    padding: 54px 42px;
    border: 1px solid var(--orange-light);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.working-info:hover{
    background: var(--orange-light);
    transition: all 0.3s ease-in-out;
}
.working-info:hover h3,
.working-info:hover p{
    color: #212d05 !important;
    transition: all 0.3s ease-in-out;
}

.client-info .working-info .icons{
    width: 32%;
}
.client-info .working-info h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: var(--light-black);
}
.client-info .working-info p{
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: var(--light-black2);
}

/*=========================
    Logo section start
==========================*/
.logo-section{
    padding: 75px 0;
}
.logo-section .container{
    max-width: 1140px;
    margin: 0 auto;
}
.logo-section .logo-heading{
    width: 560px;
    margin: 0 auto 60px;
    text-align: center;
}
.logo-section .logo-heading h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black);
    margin-bottom: 24px;
}
.logo-section .logo-heading p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-black2);
}

.logo-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img .single-logo img{
    filter: grayscale(100%);
}

/*=========================
     Self section start
==========================*/
.self-section{
    padding: 100px 0;
    background-color: #3734A9;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.self-section .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 90px; 
}
.self-info{
    width: 60%;
}
.self-details{ 
    width: 500px;
}
.self-details h4{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-bottom: 16px;
}
.self-details h1{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px; 
    letter-spacing: -0.03em;
    color: #FFFFFF; 
    margin-bottom: 40px;
}
.self-details p{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: -0.02em; 
    color: #FFF;
}
.form-section{
    width: 40%;
}
.form-section input[type="Email"]{
    display: block;
    width: 90%;
    border: none;
    outline: none;
    background: rgb(90,90,184);
    caret-color: #BBB5E0;
    border-radius: 5px;
    height: 52px;
    padding-left: 22px;
    margin-bottom: 20px;
}
.form-section input[type="password"]{
    display: block;
    width: 90%;
    border: none;
    outline: none;
    background: rgb(90,90,184);
    border-radius: 5px;
    height: 52px;
    caret-color: #BBB5E0;
    padding-left: 22px;
    margin-bottom: 20px; 
}
input[type="Email"]::placeholder,
input[type="password"]::placeholder{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #BBB5E0;
    opacity: 0.4;
}

.form-section .btn-submit {
    width: 90%;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF7F5C;
    border-radius: 5px;
    padding: 12px 0;
}

/*=========================
    Footer section start
==========================*/
footer{
    padding: 20px 0 70px;
}
footer .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #FFF4E7;
    border-radius: 8px;
}
footer .container p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--light-black);
    padding: 25px 0;
}

@media (min-width: 320px) and (max-width: 576px){

/* header section start */

header {
 padding: 20px 15px;
}
header .container .logo {
    font-size: 34px;
}
ul {
    text-align: center;
}
.menu {
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae8dc;
    z-index: 30;
    box-shadow: -8px 2px 29px rgb(0 0 0 / 50%);
    transition: all 0.3s ease-in-out;
}
.menu.active{
    right: 0;
    transition: all 0.3s ease-in-out;
}
.menu ul li {
    display: block;
    margin: 38px 0;
}
.menu ul li a {
    font-weight: 600;
}
.nav{
    display: block;
    position: relative;
    z-index: 100;
}

/* Banner section start */
.banner-section{
    padding: 120px 15px 50px;
}
.banner-details {
    width: 100%;
}
.banner-details h1 {
    font-size: 30px;
    line-height: 40px;
}
.banner-details p {
    margin-top: 20px;
}
.banner-details .btn-primary {
    font-size: 16px;
}
.banner-img {
    margin-top: 50px;
}

/* Feature section start */
.feature-section{
    padding: 85px 15px;
}
.feature-section .container {
    flex-direction: column-reverse;
}
.feature-details{
    width: 100%;
    text-align: center;
}
.feature-details h2 {
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 20px;
}
.feature-details p {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
}
.feature-details .btn-primary2 {
    font-size: 16px;
}
.feature-image {
    width: 100%;
    gap: 12px;
    margin-top: 30px;
}

/* Service section start */
.service-section{
    padding: 0px 15px 50px;
}
.service-section .container {
    gap: 30px;
    flex-direction: column;
}
.service-details {
    width: 100%;
}
.service-details h1 {
    font-size: 32px;
    line-height: 40px;
    padding-left: 12px;
    margin-bottom: 16px;
}
.service-details p {
    line-height: 24px;
    margin-bottom: 25px;
}
.service-info {
    padding: 18px;
    margin-bottom: 30px;
}
.service-info h3 {
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 18px;
}
.service-info p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin: 0;
}
.service-img {
    width: 100%;
}
.service-img .ser-img {
    width: 100%;
}
.button {
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    margin-top: 20px;
}
.button h1 {
    font-size: 30px;
}
.button p {
    font-size: 14px;
}

/* Client section start */
.client-section {
    padding: 25px 15px 50px;
}
.client-details {
    width: 100%;
    margin-bottom: 50px;
}
.client-details h2 {
    font-size: 36px;
    text-align: center;
    line-height: 53px;
    margin-bottom: 4px;
}
.client-details p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.client-info {
    width: 100%;
    gap: 35px;
    flex-direction: column;
}
.client-info .working-info {
    padding: 58px 60px;
}
.client-info .working-info .icons {
    width: 40%;
}
.client-info .working-info h3 {
    font-size: 45px;
    line-height: 59px;
}
.client-info .working-info p {
    font-size: 19px;
}

/* self section start */
.self-section {
    padding: 70px 15px;
}
.self-section .container {
    flex-direction: column;
    gap: 45px;
}
.self-info {
    width: 100%;
}
.self-details {
    width: 100%;
}
.self-details h4 {
    letter-spacing: 1px;
}
.self-details h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
    margin-bottom: 18px;
}
.self-details p {
    font-size: 16px;
    line-height: 28px;
}
.form-section {
    width: 100%;
}
.form-section input[type="Email"],
.form-section input[type="password"]{
    width: 100%; 
    margin-bottom: 18px;
}
.form-section .btn-submit {
    width: 100%;
}
  
/* Logo section start */
.logo-section{
    padding: 20px 15px 45px
}
.logo-section .logo-heading {
    width: 100%;
    text-align: center;
    margin: 0 auto 50px;
}
.logo-section .logo-heading h2 {
    font-size: 36px;
    margin-bottom: 14px;
}
.logo-section .logo-heading p {
    font-size: 16px;
    line-height: 25px;
}
.logo-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 12px;
}
.logo-img .single-logo img {
    width: 84%;
    display: block;
    margin: 0 auto;
}

/* Footer section start */
footer {
    padding: 30px 15px;
    background: #FFF4E7;
}
footer .container p {
    font-size: 14px;
    text-align: center;
    padding: 0;
}

}